Repository justinwaite/circle-api-client: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

feat(circleclient): add the circle client
  package-lock.json
  package.json
  src/CircleClient.ts
  src/circle.types.ts
  src/index.ts
  tsconfig.json
  vite.config.ts
Due: npm run lint:fix, prettier --write

chore(actions): adjust the semantic release action
  .github/workflows/semantic-release.yml
Due: prettier --write

chore(actions): add github_token to env vars for semantic release action
  .github/workflows/semantic-release.yml
Due: prettier --write

Notes added by 'git notes add'
  31ac08c9b21bfc4e6708bde09e1cbf7faeef6e40
Due: none

fix(types): add top level types key to package.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6e1f67526fd3c4bbe45b055be2834ae26feeccdb
Due: none

fix(package.json): add module key
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7db6ca8b8a80682f9013a9295ba59696fc94acf9
Due: none

fix(build): fix the artifact names
  vite.config.ts
Due: npm run lint:fix

Notes added by 'git notes add'
  3299c6abce6f0e5bb9cd0494c310f90c06d7d6ad
Due: none

feat(cards): add the cards client
  src/CircleClient.ts
  src/circle.types.ts
  src/clients/CardClient.ts
  src/clients/TransferClient.ts
  src/clients/WalletClient.ts
  src/create-resource-url.ts
  src/error.ts
  src/index.ts
Due: npm run lint:fix

build(package-name): updated the package name to circle-client-node
  README.md
  package-lock.json
  package.json
  vite.config.ts
Due: npm run lint:fix, prettier --write

Notes added by 'git notes add'
  982f36a69416d28d7ced42d559cba41649d4a83b
Due: none

fix(types): export error types
  src/index.ts
Due: npm run lint:fix

Notes added by 'git notes add'
  9dacb5149408afeec648e0ee0dbd06ca5dbe08e1
Due: none

fix(cards): export CardError from the CardClient
  src/index.ts
Due: npm run lint:fix

Notes added by 'git notes add'
  a256de7aaba4048c9a2318ed86a28120bc85c42b
Due: none

fix(cards): return the data from the response instead of the whole response
  .github/workflows/semantic-release.yml
  package-lock.json
  package.json
  src/clients/CardClient.test.ts
  src/clients/CardClient.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: npm run lint:fix, prettier --write

Notes added by 'git notes add'
  6b2db7168180b1d8fd8904cc36b889aca3589a2c
Due: none

feat(encryption): add encryption client
  src/CircleClient.ts
  src/circle.types.ts
  src/clients/CardClient.test.ts
  src/clients/CardClient.ts
  src/clients/EncryptionClient.test.ts
  src/clients/EncryptionClient.ts
  src/error.ts
Due: npm run lint:fix

Notes added by 'git notes add'
  4e9094974bb3915f1b0ee174b46074bbe8877b9a
Due: none

feat: add error handling to Transfer and Wallet clients
  src/clients/CardClient.test.ts
  src/clients/CardClient.ts
  src/clients/EncryptionClient.ts
  src/clients/TransferClient.ts
  src/clients/WalletClient.ts
  src/error.ts
  src/index.ts
Due: npm run lint:fix

Notes added by 'git notes add'
  f77ac9ef8c247e14e5e3a9d1dd7bd3616e579ede
Due: none

fix(errors): use axios default import to support esm
  src/error.ts
Due: npm run lint:fix

Notes added by 'git notes add'
  9278c5b56b0298c1629b6cbe6054e72b81c58417
Due: none

fix(transfers): fix ValidatedPaginationParams
  src/circle.types.ts
Due: npm run lint:fix

Notes added by 'git notes add'
  182dd10dcb5e2ccc717e511921cef7c098b2deec
Due: none

feat(transfers): add useBusinessAccountIdentity option to transfer create
  src/clients/TransferClient.test.ts
  src/clients/TransferClient.ts
Due: npm run lint:fix

Notes added by 'git notes add'
  403155ee8530c4ab97f25e66440d0d6857037628
Due: none

fix(transfers): remove useBusinessAccountIdentity option to transfer create
  src/clients/TransferClient.test.ts
  src/clients/TransferClient.ts
Due: npm run lint:fix

Notes added by 'git notes add'
  44a2bc566b3ac0ae75f7707f1a01dd5889351db4
Due: none

Path conditions:
  npm run lint:fix: any of: *.ts
  prettier --write: any of: *.{yml,yaml,json,md}
